<script type="text/javascript">

    RED.nodes.registerType('addresscheck',{
        category: 'Crypto',
        color: '#4e83a2',
        defaults: {
            name: {value:""},
            currency: {value:"bitcoin"},
            networktype: {value:"prod"}
        },
        inputs:1,
        outputs:1,
        inputLabels: "input currency address",
        outputLabels: ["output"],
        icon: "font-awesome/fa-check",
        label: function() {
            return this.name||'address check';
        }
    });
</script>

<script type="text/x-red" data-template-name="addresscheck">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
         <label for="node-input-currency"><i class="fa fa-tag"></i> Currency</label>
         <input type="text" id="node-input-currency">
    </div>
    <div class="form-row">
         <label for="node-input-networktype"><i class="fa fa-tag"></i> Network Type</label>
         <input type="text" id="node-input-networktype">
    </div>
</script>

<script type="text/x-red" data-help-name="addresscheck">
    <p>This node take a bitcoin address and check it. Returns true if the address (string) is a valid wallet address for the crypto currency specified.</p>
    <p>Network Type - Optional. Use (prod) (default) to enforce standard address, (testnet) to enforce testnet address and (both) to enforce nothing.</p>
    <p>Supported crypto currencies:</p>
    <pre>
    Auroracoin/AUR, 'auroracoin' or 'AUR'
    Bankex/BKX, 'bankex' or 'BKX'
    BeaverCoin/BVC, 'beavercoin' or 'BVC'
    Biocoin/BIO, 'biocoin' or 'BIO'
    Bitcoin/BTC, 'bitcoin' or 'BTC' (default)
    BitcoinCash/BCH, 'bitcoincash' or 'BCH'
    BitcoinGold/BTG, 'bitcoingold' or 'BTG'
    BitcoinPrivate/BTCP, 'bitcoinprivate' or 'BTCP'
    BitcoinZ/BTCZ, 'bitcoinz' or 'BTCZ'
    Callisto/CLO, 'callisto' or 'CLO'
    Dash, 'dash' or 'DASH'
    Decred/DCR, 'decred' or 'DCR'
    Digibyte/DGB, 'digibyte' or 'DGB'
    Dogecoin/DOGE, 'dogecoin' or 'DOGE'
    Ethereum/ETH, 'ethereum' or 'ETH'
    EthereumClassic/ETH, 'ethereumclassic' or 'ETC'
    EthereumZero/ETZ, 'etherzero' or 'ETZ'
    Freicoin/FRC, 'freicoin' or 'FRC'
    Garlicoin/GRLC, 'garlicoin' or 'GRLC'
    Hush/HUSH, 'hush' or 'HUSH'
    Komodo/KMD, 'komodo' or 'KMD'
    Litecoin/LTC, 'litecoin' or 'LTC'
    Megacoin/MEC, 'megacoin' or 'MEC'
    Monero/XMR, 'monero' or 'XMR'
    Namecoin/NMC, 'namecoin' or 'NMC'
    Nano/NANO, 'nano' or 'NANO'
    NEO/NEO, 'NEO' or 'NEO'
    NeoGas/GAS, 'neogas' or 'GAS'
    Peercoin/PPCoin/PPC, 'peercoin' or 'PPC'
    Primecoin/XPM, 'primecoin' or 'XPM'
    Protoshares/PTS, 'protoshares' or 'PTS'
    Qtum/QTUM, 'qtum' or 'QTUM'
    Raiblocks/XRB, 'raiblocks' or 'XRB'
    Ripple/XRP, 'ripple' or 'XRP'
    Snowgem/SNG, 'snowgem' or 'SNG'
    Vertcoin/VTC, 'vertcoin' or 'VTC'
    Votecoin/VTC, 'votecoin' or 'VOT'
    Zcash/ZEC, 'zcash' or 'ZEC'
    Zclassic/ZCL, 'zclassic' or 'ZCL'
    ZenCash/ZEN, 'zencash' or 'ZEN'
    </pre>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>payload
            <span class="property-type">string | buffer</span>
        </dt>
        <dd> the payload is the currency (Bitcoin) Address.</dd>
    </dl>
    <h3>Outputs</h3>
        <ol class="node-ports">
            <li>Standard output
                <dl class="message-properties">
                    <dt>payload <span class="property-type">string</span></dt>
                    <dd>the standard output of the command. Valid or not. Returns true if the address (string) is a valid wallet address for the crypto currency.</dd>
                </dl>
            </li>
        </ol>
    <h3>Details</h3>
        <p><code>msg.payload</code> is the input for the Address check. You can change the address.</p>
    <h3>References</h3>
        <ul>
            <li><a>http://www.wenzlaff.info</a> - full description of the <code>node-red-contrib-cryptography-address-check</code></li>
        </ul>
</script>
